### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml

### Gradle ###
.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
